InfopasazerApp/Service References/StationsServiceReference/Stations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InfopasazerMiner" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InfopasazerMiner" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element name="Id_x0040_" type="xs:int" />
      <xs:element name="Name_x0040_" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
</xs:schema>