InfopasazerApp/Service References/TrainsServiceReference/Trains.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Trains" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8735/Trains.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8735/Trains.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8735/Trains.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InfopasazerMiner" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrains_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ITrains_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="ITrains_GetTrain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrain" />
  </wsdl:message>
  <wsdl:message name="ITrains_GetTrain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrains">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrains/Get" message="tns:ITrains_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrains/GetResponse" message="tns:ITrains_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrain">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrains/GetTrain" message="tns:ITrains_GetTrain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrains/GetTrainResponse" message="tns:ITrains_GetTrain_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITrains" type="tns:ITrains">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/ITrains/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrain">
      <soap:operation soapAction="http://tempuri.org/ITrains/GetTrain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Trains">
    <wsdl:port name="BasicHttpBinding_ITrains" binding="tns:BasicHttpBinding_ITrains">
      <soap:address location="http://localhost:8735/Trains.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>