InfopasazerApp/Service References/TrainsServiceReference/Trains2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InfopasazerMiner" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InfopasazerMiner" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TrainGroup">
    <xs:sequence>
      <xs:element name="Arrivals_x0040_" nillable="true" type="tns:ArrayOfTrain" />
      <xs:element name="Departures_x0040_" nillable="true" type="tns:ArrayOfTrain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrainGroup" nillable="true" type="tns:TrainGroup" />
  <xs:complexType name="ArrayOfTrain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Train" nillable="true" type="tns:Train" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrain" nillable="true" type="tns:ArrayOfTrain" />
  <xs:complexType name="Train">
    <xs:sequence>
      <xs:element name="CompanyUrl_x0040_" nillable="true" type="xs:string" />
      <xs:element name="Company_x0040_" nillable="true" type="xs:string" />
      <xs:element name="Date_x0040_" nillable="true" type="xs:string" />
      <xs:element name="Delay_x0040_" nillable="true" type="xs:string" />
      <xs:element name="Destination_x0040_" nillable="true" type="xs:string" />
      <xs:element name="Id_x0040_" type="xs:int" />
      <xs:element name="Name_x0040_" nillable="true" type="xs:string" />
      <xs:element name="PlannedTime_x0040_" nillable="true" type="xs:string" />
      <xs:element name="Source_x0040_" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Train" nillable="true" type="tns:Train" />
</xs:schema>